---
layout: base
---

<header>
  <div class="logo-container">
    {% if page.root != true %}
      <a href="/{% if page.collection == "notes" %}notes{% endif %}" aria-label="Home" class="back-link">&leftarrow;</a>
    {% endif %}
    <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <image href="/assets/header_grey.svg" width="32" height="32" />
    </svg>
    {% if page.root != true %}
      <span class="font">Mohammad A. Jauhar</span>
    {% endif %}
  </div>
  <h1 class="h1">
    <span lang="{{lang}}">{{ page.title }}</span>
  </h1>
  {% if page.collection == "posts" %}<time class="monospace" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %e, %Y" }}</time>{% endif %}
  {% if page.collection == "notes" or page.collection == "stories" %}<time class="monospace" datetime="{{ page.date }}">{{ page.date | date: "%Y/%m/%d %H:%M" }}</time>{% endif %}
  <div class="desc">{{ page.header_content }}</div>
</header>
<main>
  {% capture content_and_then_some do %}
    {{ content }}
  {% endcapture %}

  {% if page.collection == "posts" or page.collection == "pages" %}
    <article>
      {{ content_and_then_some }}
    </article>
  {% elsif page.collection == "notes" %}
    <div class="note-content" lang="{{ page.lang }}">{{ content_and_then_some }}</div>
    <div class="note-tags">{% for tag in page.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
  {% else %}
    {{ content_and_then_some }}
  {% endif %}
  {% if page.feature == 1 or page.open_heart %}
    <hr class="hr">
    <div class="smol">
      <div class="monospace">
        <div id="like-prompt">Like this {% if page.collection == "posts" %}post{% elsif page.collection == "notes" %}note{% else %}page{% endif %}? let me know!</div>
        &gt;<open-heart class="text-open-heart" href="https://openheart.siddmohamed19.workers.dev/{{ page.url }}" emoji="❤️" aria-labelledby="like-prompt">
          <span class="on">Liked.<br>(Thanks!)</span><span class="off">Sure. <kbd>⏎</kbd></span>
        </open-heart>
      </div>
    </div>
  {% endif %}
</main>